* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1080px;
    margin: auto;
    height: 100%;
    background-color: black;
}

#header-top {
    height: 120px;
    background-color: grey;
    border: 1px solid white;
}

#header-bottom {
    height: 120px;
    background-color: red;
    border: 1px solid white;
}

#features {
    background-color: lightcoral;
    height: 500px;
    border: 1px solid white;
}

footer {
    background-color: darkblue;
    height: 300px;
}
