* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1080px;
    margin: auto;
    height: 100%;
}

.clearfix {
    content: '';
    clear: both;
    display: table;
}

.left-blocks {
    width: 40%;
    height: 100%;
    float: left;
    font-size: 18px;
    padding: 5px;
    padding-left: 0;
}

.left-blocks:first-child {
    border-right: 4px groove grey;
}

.left-blocks:last-child {
    padding-left: 20px;
}

.fas .fa-globe {
    font-size: 20px;
}

.right-blocks {
    height: 100%;
    float: right;
    font-size: 18px;
    text-align: right;
}

.right-blocks:last-child {
    padding: 20px;
}

.fa-search {
    color: grey;
}

#header-top {
    height: 100px;
    width: 100%;
    border-bottom:  0.5px solid grey;
    padding: 20px;
    background-color: whitesmoke;
    position: fixed;
    top: 0;
}

#header-top-left {
    width: 30%;
    height: 100%;
    float: left;
    padding: 10px;
    padding-left: 0;
}

#header-top-right {
    width: 45%;
    height: 100%;
    float: right;
}

#button1 {
    background-color: #ff7a59;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 1px solid #ff7a59;
    border-radius: 3%;
}

#button2 {
    background-color: white;
    border: none;
    color: #ff7a59;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 1px solid #ff7a59;
    border-radius: 3%;

}


#header-bottom {
    height: 100px;
    margin-top: 100px;
}

#header-bottom-left {
    width: 30%;
    height: 100%;
    float: left;
    padding: 35px;
    padding-left: 0;
}

#header-bottom-right {
    width: 70%;
    height: 100%;
    float: right;
    padding: 20px;
    padding-right: 0;

}

#menu, #menu li {
    display: inline-block;
    text-align: center;
}

#menu li p {
    height: 60px;
    line-height: 60px;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 0 10px;
    margin-left: 42px;
}

li:first-child {
    margin-left: 88px;
}

li:last-child {
    padding-right: 0;
}

#features1 {
    background-color: #F8E6E0;
    padding-top: 100px;
    padding-bottom: 300px;
}

#block1 {
    height: 100%;
    width: 40%;
}

#block1 h1 {
    font-size: 55px;
}

#block1 p:first-of-type{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#block1 p:last-of-type {
    margin-top: 30px;
}

#features2 {
    height: 870px;
    background-color: whitesmoke;
    padding-bottom: 76px;
}

#row-1 {
    height: 35%;
    width: 100%;
    background-color: red;
    margin-top: 2.5%;
}
.blocks-row-1 {
    height: 100%;
    background-color: blue;
    width: 32%;
    float:left;
    margin-right: 2%;
    padding-right: 2%;
}
#row-1 :first-child h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

#row-1 :first-child p {
    font-size: 20px;
    width: 100%;
}



#row-1 :last-child {
    width: 66%;
    margin-right: 0;
    padding-right: 0;
}

 #img {
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

.row-2 {
    height: 60%;
    width: 100%;
    background-color: yellow;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.blocks-row-2 {
    height: 98.5%;
    background-color: green;
    width: 32%;
    float: left;
    margin-right: 2%;
}

.row-2 :last-child {
    margin-right: 0;
}



footer {
    background-color: darkblue;
    height: 300px;
}
